{
  admin :2019 {
    origins http://shipyard.local http://shipyard http://worker
  }
}

:80 {
  root * /var/www/public
  file_server

  handle_errors {
    respond "{err.status_code} {err.internal}"
  }
}
